* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c5b4e3;
}

.imgh svg {
  transform: translateY(35%);
}

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  margin-top: 10px;
}
a {
  text-decoration: none;
  color: #fff;
}

header {
  margin-bottom: 20px;
  position: relative;
  height: 100px;
  background-color: #c5b4e3;
  width: 100%;
  box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.2);
}

.container {
  background-color: #f5f5f5;
  padding-bottom: 20px;
  border-radius: 30px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-container {
  margin: 30px 30px 10px 30px;
}

label {
  color: #a398d1;
  margin: 0 0 5px 15px;
}

.inputfield {
  display: flex;
  flex-direction: column;
  margin: 15px 0 15px 0;
}
input {
  outline: none;
  padding: 0 20px 0 20px;
  height: 38px;
}
.bot {
padding: 7px;
text-decoration: none;
background-color: #A398D1;
color: white;
font-weight: bold;
border: none;
border-radius: 10px;
text-align: center;
font-size: 15px;

  
}
.bot:hover {
  background-color: #c5b4e3;
  
}

