<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=devid-width, initial-scale=1">
    <link rel="stylesheet" href="../css/duvida.css">
    <title>Portal de Dúvidas</title>
  </head>

  <body>
    <header>
      <h1>Plataforma</h1>
      <h1>Primia</h1>
      <nav role="navigation">
        <section id="menuToggle">
          <input type="checkbox">
          <span></span>
          <span></span>
          <span></span>
               <ul id="menu">
                   <a href="#"><li>Home</li></a>
                   <a href="#"><li>Chat</li></a>
                   <a href="#"><li>Dúvidas</li></a>
                   <a href="#"><li>Info</li></a>
                   <a href="#"><li>Sair</li></a>
                </ul>

        </section>
      </nav>
    </header>
 <main>
    <section>
      <h2 id="titulo-duvidas">Dúvidas</h2>
      <article>
        <h3>Dúvida:</h3>
        <p>Qual é a diferença entre “mau” e “mal”?</p>
      </article>
      <article>
        <h3>Dúvida:</h3>
        <p> Normalmente, quantos litros de sangue uma pessoa tem?</p>
      </article>
      <article>
        <h3>Dúvida:</h3>
        <p>Qual a maior província brasileira?</p>
      </article>
    </section>

    <form>
      <label for="duvida">Digite sua dúvida</label>
      <footer>
        <input type="text" id="duvida" name="duvida" placeholder="Digite sua dúvida">
        <button type="submit"><img src=""></button>
        <button type="submit"></button>
        <button type="submit"></button>
      </footer>
    </form>
  </main>

  <footer>
    <nav>
      <ul>
        <li><a href="#">Produto</a></li>
        <li><a href="#">Vantagens</a></li>
        <li><a href="#">Casos de Uso</a></li>
        <li><a href="#">Destaques</a></li>
        <li><a href="#">Recursos</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Atendimento</a></li>
        <li><a href="#">Por que grátis?</a></li>
      </ul>
    </nav>
  </footer>
</body>
</html>
    